

<%= render partial: "common/header" %>

<div id="content">
	<div id="maintext">
		<h2>Listing articles</h2>

		<%= link_to 'New article', new_article_path %>

    <% @articles.each do |article| %>
        <h2><%= article.title %></h2>
        <p><%= article.text %></p>
      <% end %>

		<table>
  		<tr>
  		  <th>Title</th>
  		  <th>Text</th>
  		  <th colspan="3"></th>
  		</tr>

      

  		<% @articles.each do |article| %>
  		  <tr>
  		    <td><%= article.title %></td>
  		    <td><%= article.text %></td>
  		    <td><%= link_to 'Show', article_path(article) %></td>
  		    <td><%= link_to 'Edit', edit_article_path(article) %></td> 
  		    <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
  		  </tr>
  		<% end %>
		</table>
	</div>



    <div id="rightcol">
      <div id="introduction">
				<table>
					<tr><td align="left">Sign In</td></tr>
          <tr><td>Username:</td><td><input type="text" name="Username" size=3 /></td></tr>
          <tr><td>Password:</td><td><input type="text" name="Password" size=3 /></td></tr>
					<tr><td><button type="submit">Logon</button></td><td align="right"><%=link_to 'Sign Up', new_user_path %></li></td></tr>
				</table>
        <h3>Latest photos</h3>
				<a href=""><img src="img/Nautica04.jpg" width="132" height="115" /></a></br></br>
				<a href=""><img src="img/pic2.jpg" width="132" height="93" /></a></br></br>
				<p align="right"><a href="">More photos...</a></p></br>
				<h3>Latest entries</h3>
				<ul>
					<li><a href="#">June 26, 2006</a></li>
					<li><a href="#">June 25, 2006</a></li>
					<li><a href="#">June 24, 2006</a></li>
				</ul>
			  </br></br></br></br>
      </div>
    </div>

</div>



<div id="footer">
  <p>&copy; 2015 Room325</p>
</div>
