<%= render partial: "common/header" %>

<%= javascript_tag do -%>
  function sendName() {
    var xmlhttp;
    if(window.XMLHttpRequest)
    {
      xmlhttp = new XMLHttpRequest();
    } else {
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.onreadystatechange=function()
    {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
        document.getElementById("keyup").innerHTML=xmlhttp.responseText;
        alert(xmlhttp.responseText);
      }
    }
    xmlhttp.open("get", "#?user_name=" + getElementById("user_name").value, true);
    xmlhttp.send();
  }

  function getName(id) {
    user_name = document.getElementById(id).value;
    document.getElementById(id).value = "user_name";
    alert(document.getElementById("user_password").value);
    alert(user_name);
  }

  function pop() {
    document.getElementById("user_name").value = "user_name"
  }
<% end -%>
<%= javascript_tag do -%>
  pop
<% end %>
<div id="new_user">
  <legend>Enter Your Details</legend>
  
  <%= form_for :user, url: users_path do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited
            this article from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label "name*:" %>
      <%= f.text_field :name, size: 15, onblur: "sendName()" %>
      <%= text_field_tag :keyup %>
      
      <%= javascript_tag do -%>
        $('#user_name').load('#')
      <% end %>
    </p>
    <p>
      <%= f.label "password*:" %>
      <%= f.password_field :password, size: 15 %>
    </p>
    <p>
      <%= f.label "confirm password*:" %>
      <%= f.password_field :password_confirmation, size: 15 %>
    </p>
    <p>
      <%= f.label "email*:" %>
      <%= f.email_field :email, size: 15 %>
    </p>
    <p>
      <%= f.label "mobile:" %>
      <%= f.email_field :mobile, size: 15 %>
    </p>
    <p>
      <%= f.label "gender:" %>
      <%= f.select :gender, ["", "Male", "Female"] %>
    </p>
    <p>
      <%= f.label "age:" %>
      <%= f.select :age, [""].concat((18..100).to_a) %>
    </p>
    <p>
      <%= f.label "profession:" %>
      <%= f.email_field :profession, size: 15 %>
    </p>
    <p>
      <%= f.label "address:" %>
      <%= f.email_field :address, size: 15 %>
    </p>
    <p>
      <%= f.submit 'Create User' %>
    </p>
  <% end %>
</div>
